.hero-box {
    padding: 55px 0;
}

form {
    width: 60%;
    margin: 0 auto;
}

.help-block,
.errorlist {
    font-size: 80%;
}

.errorlist {
    list-style: none;
    text-align: right;
    margin-bottom: 0;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    height: 60px;
    font-size: 14px;
    letter-spacing: 0.04em;
    border: 1px solid;
    border-radius: 5px;
    color: #2c3e50;
    padding-left: 20px;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  background: #fafafa;
}