{% extends 'base.html' %}

{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/plans.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block header %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{% trans "Investment Plans" %}</a></li>
            <li><a href="#">{% trans "My Investments" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signout' %}">{% trans "Sign Out" %}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block app %}
<section class="section"></section>
<section class="section">
  <div class="section-title">
    <div class="container">
      <h2 class="title">{% trans "Our Investment Plans" %}</h2>
      <p class="sub-title">{% trans "Choose the plan that's best for you!" %}</p>
    </div>
  </div>

  <div class="container">
    <div class="row white">
      <div class="block">
        <div class="col-md-8">
          <ul class="pricing p-green">
            <li>
              <big>Starter</big>
            </li>
            <li>Period - <strong>15 days</strong></li>
            <li>Total Returns - <strong>200%</strong></li>
            <li>
              <h3><i class="fa fa-btc"></i>0.2</h3>
              <span>minimum deposit</span>
            </li>
            <li>
              <button>Invest Now</button>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <ul class="pricing p-yel">
            <li>
              <big>Deluxe</big>
            </li>
            <li>Period - <strong>10 days</strong></li>
            <li>Total Returns - <strong>220%</strong></li>
            <li>
              <h3><i class="fa fa-btc"></i>1</h3>
              <span>minimum deposit</span>
            </li>
            <li>
              <button>Invest Now</button>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <ul class="pricing p-red">
            <li>
              <big>VIP</big>
            </li>
            <li>Period - <strong>7 days</strong></li>
            <li>Total Returns - <strong>250%</strong></li>
            <li>
              <h3><i class="fa fa-btc"></i>5</h3>
              <span>minimum deposit</span>
            </li>
            <li>
              <button>Invest Now</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}