{% extends 'base.html' %}

{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  <div class="section-title">
    <div class="container">
      <h2 class="title">{% trans "Password Reset Complete" %}</h2>
      <p class="sub-title">{% trans "Your password has been set. You may go ahead and log in now." %}</p>
      <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
    </div>
  </div>
</section>
{% endblock %}