{% extends 'base.html' %}

{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  {% if validlink %}
    <div class="section-title">
      <div class="container">
        <h2 class="title">{% trans "Enter New Password" %}</h2>
        <p class="sub-title">
          {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="row">
        <form method="post">
  
          {% csrf_token %}
          {{ form.non_field_errors }}
  
          <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
          </div>
  
          <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
          </div>
  
          <button type="submit" class="btn btn-special no-icon">Change my password</button>
        </form>
      </div>
    </div>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
</section>
{% endblock %}