{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  <div class="section-title">
    <div class="container">
      <h2 class="title">Password Reset Email Sent</h2>
      <p class="sub-title">
          We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>
          If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
      </p>
    </div>
  </div>
</section>
{% endblock %}