{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block signup_btn %}{% endblock %}
  
{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  <div class="section-title">
    <div class="container">
      <h2 class="title">Sign Up</h2>
      <p class="sub-title">It takes less than 30 seconds!</p>
    </div>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="row">
      <form class="destinations-form">
        <div class="form-group input-line">
          <label for="full-name">Full Name</label>
          <input type="text" id="full-name" class="form-control form-input" placeholder="First Name Last Name" />
        </div>

        <div class="form-group input-line">
          <label for="email">Email address</label>
          <input type="text" id="email" class="form-control form-input" placeholder="Email" />
        </div>

        <button type="button" name="destination-submit" class="btn btn-special">Find a boat</button>
      </form>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
  </div>
</section>
{% endblock %}