{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block signup_btn %}{% endblock %}
  
{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  <div class="section-title">
    <div class="container">
      <h2 class="title">Sign Up</h2>
      <p class="sub-title">It takes less than 30 seconds!</p>
    </div>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="row">
      <form>
        <div class="form-group">
          <label for="full-name">Full Name</label>
          <ul class="errorlist"><li>This field is required.</li></ul>
          <input type="text" id="full-name" class="form-control" placeholder="First Name Last Name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <ul class="errorlist"><li>This field is required.</li></ul>
          <input type="text" id="email" class="form-control" placeholder="Email address">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <ul class="errorlist"><li>This field is required.</li></ul>
          <input type="password" id="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <ul class="errorlist"><li>This field is required.</li></ul>
          <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password">
        </div>

        <div class="form-group">
          <label for="wallet-address">Wallet address</label>
          <ul class="errorlist"><li>This field is required.</li></ul>
          <input type="text" id="wallet-address" class="form-control" placeholder="Wallet Address">
          <p class="help-block">Ensure this is correct. We won't be responsible for errors caused by an incorrect address.</p>
        </div>

        <div class="g-recaptcha" data-sitekey="6LdCjBkUAAAAAKRTIjQ0m1zZD6RnxvzQ4kIWT-OZ"></div>

        <div class="checkbox">
          <label>
            <ul class="errorlist"><li>This field is required.</li></ul>
            <input type="checkbox"> I agree with these <a href=""><strong>terms of service</strong></a>.
          </label>
        </div>

        <button type="submit" class="btn btn-special no-icon">Submit</button>
      </form>

      <!-- <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

    </div>
  </div>
</section>
{% endblock %}