{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
{% endblock %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}

{% block signup_btn %}{% endblock %}
  
{% block app %}
<!-- Hero Section -->
<section class="section">
  <div class="hero-box"></div>
</section>

<!-- Destinations Section -->
<section class="section">
  <!-- Title -->
  <div class="section-title">
    <div class="container">
      <h2 class="title">Sign Up</h2>
      <p class="sub-title">It takes less than 30 seconds!</p>
    </div>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="row">
      <form method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
          {{ form.full_name.label_tag }}
          {{ form.full_name.errors }}
          {{ form.full_name }}
        </div>

        <div class="form-group">
          {{ form.email.label_tag }}
          {{ form.email.errors }}
          {{ form.email }}
        </div>

        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password.errors }}
          {{ form.password }}
        </div>

        <div class="form-group">
          {{ form.confirm_password.label_tag }}
          {{ form.confirm_password.errors }}
          {{ form.confirm_password }}
        </div>

        <div class="form-group">
          {{ form.wallet_address.label_tag }}
          {{ form.wallet_address.errors }}
          {{ form.wallet_address }}
          <p class="help-block">{{ form.wallet_address.help_text }}</p>
        </div>

        <div class="form-group">
          {{ form.captcha.errors }}
          {{ form.captcha }}
        </div>

        <div class="checkbox">
          <label>
            {{ form.agree_to_terms.errors }}
            {{ form.agree_to_terms }}I agree with these <a href=""><strong>terms of service</strong></a>.
          </label>
        </div>

        <button type="submit" class="btn btn-special no-icon">Submit</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}