{% extends 'core/plan_list.html' %}

{% load i18n static %}

{% block content %}
<section class="section">
  <div class="section-title">
    <div class="container">
      <h2 class="title">{% trans view.plan.name %} {% trans "plan" %}</h2>
    </div>
  </div>

  <div class="container">
    <form method="post">
      <div class="form-group">
        {% csrf_token %}
        {{ form.amount.label_tag }}
        {{ form.amount }}
      </div>
      <input type="submit" class="btn btn-special no-icon" value="{% trans 'Submit' %}">
    </form>
  </div>
</div>
{% endblock %}