{% extends 'base.html' %}

{% load i18n static %}

{% block pagetitle %}Investment Plans{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/extra.css' %}">
<link rel="stylesheet" href="{% static 'css/plans.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'home' %}">{% trans "My Investments" %}</a></li>
            <li><a href="{% url 'plans' %}">{% trans "Investment Plans" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signout' %}">{% trans "Sign Out" %}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block app %}
<section class="section"></section>
{% block content %}
<section class="section">
  <div class="section-title">
    <div class="container">
      <h2 class="title">{% trans "Our Investment Plans" %}</h2>
      <p class="sub-title">{% trans "Choose the plan that's best for you!" %}</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="block">
        {% for plan in plans %}
          <div class="col-md-6">
            <ul class="pricing {% ifequal plan.name 'starter' %}p-green{% endifequal %} {% ifequal plan.name 'classic' %}p-blue{% endifequal %} {% ifequal plan.name 'deluxe' %}p-yel{% endifequal %} {% ifequal plan.name 'vip' %}p-red{% endifequal %}">
              <li>
                <big {% ifequal plan.name 'vip' %}style="text-transform: uppercase"{% endifequal %}>{{ plan.name }}</big>
              </li>
              <li>Period - <strong>{{ plan.period }}</strong></li>
              <li>{% trans "Total Returns - " %}<strong>{{ plan.percentage_return }}%</strong></li>
              <li>
                <h3><i class="fa fa-btc"></i>{{ plan.deposit }}</h3>
                <span>{% trans "deposit" %}</span>
              </li>
              <li>
                <a href="{% url 'invest' plan_name=plan.name %}" class="button">{% trans "Invest Now" %}</a>
              </li>
            </ul>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% endblock %}

{% block extra_js %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}